<nav>
  <a routerLink="/public" routerLinkActive="active" md-raised-button>Public</a>
  <a routerLink="/private" routerLinkActive="active" md-raised-button>Private</a>
  <a routerLink="/sign-up" routerLinkActive="active" md-raised-button>Sign Up</a>
  <a routerLink="/sign-in" routerLinkActive="active" md-raised-button>Sign In</a>
</nav>
<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<router-outlet></router-outlet>
